<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}}</title>
</head>

<body>
	<ul>
	<li><a href="{% url 'login' %}">LOG IN</a></li>
	<li><a href=" {% url 'signup' %}">SIGN UP</a></li>
	</ul>
	
	<h1> {{page_title}}</h1>
	<h3> Welcome, {{user}} </h3>
</body>
</html>