<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}}</title>
</head>

<body>
	<h1> {{page_title}}</h1>
	<h3> Apakah anda yakin? </h3>
	<form method = "POST">
	{% csrf_token %}
	<input type="submit" name="logout">
	</form>
</body>
</html>